<!DOCTYPE html>
<html>

<head>
	<title>Responsive Sidebar</title>
	<style>
		body {
			margin: 0;
			padding: 0;
		}
	</style>
</head>

<body>
	<div class="sidebar">
		<!-- <div style="background-color: black; color: white; width: 50%; margin: 0 auto; font-family: Arial, sans-serif;">
			<div style="padding: 10px; margin: 10px; background-color: rgb(226, 225, 225); color: black;">
				<h2>Sorry we missed you!</h2>
				<p>Hi {name}, <br> <br> We tried to contact you today to follow up on your requested quote; sorry we
					missed you! Your custom
					quote is below. Please feel free to contact us with any questions!</p>
			</div>
			<hr>
			<div style="  background-color: #202022;" >
				<div class="details " style="background-color: #3c3c3d; margin: 10px;  font-size: 14px; padding:10px">
					<h2>Details</h2>
					<hr>
					<table style="border-collapse: collapse; width: 100%; text-align: center; border: 1ps solid black;">
						<thead>
							<tr>
							<th style="border: 1px solid #dddddd;">Origin</th>
							<th style="border: 1px solid #dddddd;">Destination</th>
							<th style="border: 1px solid #dddddd;">shipment date</th>
							<th style="border: 1px solid #dddddd; padding: 10px;">Price</th>
							</tr>
						</thead>
						<tbody>
							<tr style="border: 1px solid #dddddd;">
								<td style="border: 1px solid #dddddd;">
									{origin},{origincity},{originstate},{originzipcode}
								</td>
								<td style="border: 1px solid #dddddd;">
									{destinationcity},{destinationstate},{destinationzipcode}
								</td>
								<td style="border: 1px solid #dddddd;">{shipdate}</td>
								<td style="border: 1px solid #dddddd;">200$</td>
							</tr>
						</tbody>
					</table>
					<h2>Vehicles</h2>
					<hr>
					<table style="border-collapse: collapse; width: 100%; text-align: center; border: 1ps solid black;">
						<thead>
							<tr>
							<th style="border: 1px solid #dddddd;">Make</th>
							<th style="border: 1px solid #dddddd;">Model</th>
							<th style="border: 1px solid #dddddd;">Modelyear</th>
							<th style="border: 1px solid #dddddd; padding: 10px;">Modeltype</th>
							</tr>
						</thead>
						<tbody>
							<tr style="border: 1px solid #dddddd;">
								<td style="border: 1px solid #dddddd;">
									{origin},{origincity},{originstate},{originzipcode}
								</td>
								<td style="border: 1px solid #dddddd;">
									{destinationcity},{destinationstate},{destinationzipcode}
								</td>
								<td style="border: 1px solid #dddddd;">{shipdate}</td>
								<td style="border: 1px solid #dddddd;">200$</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div style=" padding: 10px;">
					<h3><b>Your Custom Quote</b></h3>
					<p>Your custom price for your shipment from {origin} to {destination} is {price}. If you have any
						questions or would like to book your shipment via phone, please feel free to call us at (516)
						656-1474.</p>

					<p>You may also book your shipment online via the button below:</p>
					<div style="width: 100%; display: flex; justify-content: center; cursor: pointer;">
						<button style="padding: 10px; background: rgb(18, 18, 85); color: white; border: none;">Book
							Now</button>
					</div>

					<p>Please feel free to contact us with any questions.</p>

					<p>Sincerely,</p>
					<p>JK Autoshipping</p>
					<p>{email}</p>
					<p>(516) 656-1474</p>

					<p>You are receiving this email because you requested a custom quote to ship your vehicle.</p>
					<p>No longer interested? No problem, <a href="#">click here</a> and you won't hear from us again.
					</p>
				</div>
			</div>
		</div> -->
		<!-- <div style=" display: flex; justify-content: center; flex-direction: column; font-family: Arial, sans-serif; align-items: center;">
		<h1 style="width: 100%; text-align: center; display:block;">
		H1, usama</h1>
		<p style=" display: block; text-align: center;">Thank you for your interest in our company! Below you will find your auto transport quote details.</p>
		<div style="width: 40%;;">
			<hr>
			<div style="display: flex; justify-content: center; align-items: center; width: 100%;">
				<div style="width: 100%; display: flex; justify-content:space-between; margin-bottom: -10px; margin-top: -10px;">
					<div>
						<h4>Door to Door service</h4>
					</div>
					<div>
						<h4>$10000</h4>
					</div>
				</div>
			</div>
			<hr>
			<div style="display: flex; justify-content: center; align-items: center; width: 100%;">
				<div style="width: 100%; display: flex; justify-content:space-between; margin-bottom: -10px; margin-top: -10px;">
					<div>
						<h4>total price</h4>
					</div>
					<div>
						<h4>$10000</h4>
					</div>
				</div>
			</div>
			<hr>
		</div>
		<button style="border-radius: 5px; border: none; cursor: pointer; padding: 15px; margin-top: 10px; background-color: rgb(23, 23, 73); color: white; font-size: 16px;
		">Get Started now!</button>
		<div style="width: 53%;">
			<h2>Quote details</h2>
			<div>
				origin: {originaddress},{origincity},{originstate},{originzipcode} <br>
				destination: {destinationaddress}, {destinationcity} , {destinationstate}, {destinationzipcode} <br>
				ship date: {shipdate} <br>
				price: {price} <br> <br>
				If you have any questions or would like us to match a competitor's rate please call me at (516) 656-1474.

Regards, <br>
<br>
{companyname} <br>
{companyemail} <br>
{companyphone}
			</div>
		</div>
	</div> -->
		<!-- <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; font-family: Arial, sans-serif;">
			<div style="width: 50%; display: flex; justify-content: center;  align-items: center;">
				<img src="../components/pages/unnamed.png" width="50%" height="100%" alt="">
			</div>
			<div style="display: flex; justify-content: center;">
				<h2>Your order hase been dispatched</h2>
			</div>
			<div style="text-align: start; width: 50%;">
				<h4>Hi, {name}</h4>
				<p>
					We are happy to inform you that your shipment from {origincity}, {originstate} {originzipcode} to {destinationcity}, {destinationstate} {destinationzipcode} has been assigned to a truck. You will
					be contacted shortly with an estimated pickup and delivery time. <br> <br>
					Please feel free to call us with any questions! <br> <br>

					Sincerely, <br>
					{companyname} <br>
					{companyphoneno}
				</p>

			</div>
		</div> -->



		<!-- <div style="width: 100%; display: flex; justify-content: center;  align-items: center;">
			<img src="../components/pages/unnamed.png" width="20%" height="100%" alt="">
		</div>
		<div>
			<h2 style="width: 100%; text-align: center; display:block;">
				Thank You</h2>
		</div>
	<div>
		Hi, {name}
		<p>Thank you for placing your order with {companyname} </p>
	</div> <br> <br>
		<div style="width: 40%;">
			<hr>
			<div style="display: flex; justify-content: center; align-items: center; width: 100%;">
				<div style="width: 100%; display: flex; justify-content:space-between; margin-bottom: -10px; margin-top: -10px;">
					<div>
						<h4>Door to Door service</h4>
					</div>
					<div>
						<h4>$10000</h4>
					</div>
				</div>
			</div>
			<hr>
			<div style="display: flex; justify-content: center; align-items: center; width: 100%;">
				<div style="width: 100%; display: flex; justify-content:space-between; margin-bottom: -10px; margin-top: -10px;">
					<div>
						<h4>total price</h4>
					</div>
					<div>
						<h4>$10000</h4>
					</div>
				</div>
			</div>
			<hr>
		</div>
		<div style="width: 100%; text-align: center;">
			<h2>Order Details</h2>
		</div>
		<div style="width: 53%;">
			<h2>Quote details</h2>
			<div>
				<b>origin:</b> {originaddress},{origincity},{originstate},{originzipcode} <br>
				<b>destination:</b> {destinationaddress}, {destinationcity} , {destinationstate}, {destinationzipcode} <br>
				<b>ship date:</b> {shipdate} <br>
				<b>Total price:</b> {price} <br>
				<b>Deposite:</b> {deposit} <br> <br> <br>
				<b>Vehicles</b> <br>
				{cars} <br> <br>
				if you have any questions please feel free to call us!

Sincerely, <br>
<br>
{companyname} <br>
{companyemail} <br>
{companyphone}
			</div>
		</div> -->


<!--
		<div style="width: 100%; display: flex; justify-content: center;  align-items: center;">
			<img src="../components/pages/unnamed.png" width="20%" height="100%" alt="">
		</div>
		<div>
			<h2 style="width: 100%; text-align: center; display:block;">
				Thank You</h2>
		</div>

		<div>
			Hi, {name}
			<p>We have received your payment  <br>
				Please contact us at {companyphonono} with any questions! </p>
		</div> <br> <br>
		Sincerely, <br>
		<br>
		{companyname} <br>
		{companyemail} <br>
		{companyphone}
					</div> -->


					<div style="background-color: black; color: white; width:80%  font-family:Arial, sans-serif;">
						<div style="padding: 10px; margin: 10px; background-color: rgb(226, 225, 225); color: black;">
							<h2>Sorry we missed you!</h2>
							<p>Hi {name}, <br> <br> We tried to contact you today to follow up on your requested quote; sorry we
								missed you! Your custom
								quote is below. Please feel free to contact us with any questions!</p>
						</div>
						<div style=" background-color: #202022;" >
						<div class="details " style="background-color: #3c3c3d; font-size: 14px; padding:10px">
						<h2>Details</h2>
						<hr>
						<b>Origin:</b> {origincity},{originstate},{originzipcode} <br>
						<b>Destination:</b> {destinationcity} , {destinationstate}, {destinationzipcode} <br>
						<b>Ship date:</b> {shipdate} <br>
						<b>Total price:</b> {price} <br>
						<b>Deposite:</b> {deposit} <br> <br>
						<b>Vehicles</b> <br>
						<h2>Vehicles</h2>
						<hr>
						<table style="border-collapse:collapse; margin-top:5px width: 100%; text-align: center; border: 1ps solid black;">
							<thead>
								<tr>
								<th style="border: 1px solid #dddddd;">Make</th>
								<th style="border: 1px solid #dddddd;">Model</th>
								<th style="border: 1px solid #dddddd;">Model year</th>
								<th style="border: 1px solid #dddddd; ">Model type</th>
								</tr>
							</thead>
							<tbody>
							   {carrows}
							</tbody>
						</table> <br> <br>
					</div>

							<div style=" padding: 10px; font-size:14px">
								<h3><b>Your Custom Quote</b></h3>
								<p>Your custom price for your shipment from {origin} to {destination} is {price}. If you have any
									questions or would like to book your shipment via phone, please feel free to call us at (516)
									656-1474.</p>

								<p>You may also book your shipment online via the button below:</p>
								<div style="width: 100%; display: flex; justify-content: center; cursor: pointer;">
									<button style="padding: 10px; background: rgb(18, 18, 85); color: white; border: none;">Book
										Now</button>
								</div>

								<p>Please feel free to contact us with any questions.</p>

								<p>Sincerely,</p>
								<p>{companyname}</p>
								<p>{companyemail}</p>
								<p>{companyphonono}</p>

								<p>You are receiving this email because you requested a custom quote to ship your vehicle.</p>
								<p>No longer interested? No problem, <a href="#">click here</a> and you won't hear from us again.
								</p>
							</div>
						</div>
					</div>

	</div>
</body>

</html>